@import 'tailwindcss';

@font-face {
  font-family: 'neutra-l';
  src: url('C:\Users\caleb\Documents\fonts\Neutra\neutra-text-light.otf');
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

input[type='range'] {
  appearance: none;
  &::-moz-range-progress {
    height: 10px;
    background-color: #c0d4ff;
  }
  &::-moz-range-track {
    height: 10px;
    background-color: gray;
  }
  &::-moz-range-thumb {
    height: 15px;
    width: 0.1%;
  }
}

.music-controls object {
  pointer-events: none;
  width: 24px;
  height: 24px;
}

button {
  cursor: pointer;
}

button:hover {
  scale: 1.05;
}

.changeColor {
  color: #c0d4ff;
}
