@import "tailwindcss";

@font-face {
    font-family: 'neutra-l';
    src: url("C:\Users\caleb\Documents\fonts\Neutra\neutra-text-light.otf");
}

.music-controls object {
    pointer-events: none;
    width: 24px;
    height: 24px;
}

button {
    cursor: pointer;
}

.changeColor {
    color: #c0d4ff;
}